Eclipse:

Help -> Install New Software - http://dl.google.com/eclipse/plugin/3.5 (Google App Engine Plugin)

New -> Project -> Google -> Web Application Project

name: sametimed
package: name.shamansir.sametimed

Use Google Web Toolkit
DO NOT use Google App Engine

Finish

rm -Rf ./src ./war
cd .../sametimed
cd ..
svn checkout http://sametimed.googlecode.com/svn/trunk/ sametimed-read-only

sametimed -> Refresh
sametimed/war/WEB-INF/lib/
			dom4j-1.6.1.jar
			jaxen-1.1.1.jar
			google-collect-1.0-rc2
			protobuf-java-2.1.0.jar
			fedone-server-0.2.jar
			dwr-3-rc1.java
				-> Build Path -> Add to Build Path

cd ./wave-protocol
./run-server.sh

sametimed -> Run As -> Web Application

Compile/Browse

Build Path:
    JRE 1.6.0.16
    Google Web Toolkit 1.7.1 SDK
     
    google-collect-1.0-rc2.jar     
    protobuf-java-2.1.0.jar 
    fedone-server-0.2.jar   
    (all from FedOne sources; dom4j is taken from fedone-server-0.2.jar)
