<?xml version="1.0" encoding="UTF-8"?>
<!-- It is just a stub for future implementation, 
     this file do not affects application behavior for the moment-->
<module alias="editor">

    <extends>chat</extends>

    <model id="EDITOR_MODEL" alias="document">
        <model-class>DocumentModel</model-class>
        <model-base>Document</model-base>
        <model-atom>TextChuck</model-atom>
    </model>

    <document name="document">
        <document-model>EDITOR_MODEL</document-model>
        <document-class>EditorDocument</document-class>
        <!-- <document-tag>EditorTag</document-tag> -->
    </document>
    
    <client>    
        <client-commands>
            <client-command id="CMD_PUT" alias="put">
                <attributes>
                    <attribute name="text" />
                </attributes>
            </client-command>
        </client-commands>
        <client-class>EditorWavesClient</client-class>
    </client>
    
    <wavelet>
        <wavelet-documents>
            <document-name>document</document-name>
        </wavelet-documents>
        <wavelet-class>WaveletWithEditor</wavelet-class>
    </wavelet>
    
</module>