<?xml version="1.0" encoding="UTF-8"?>
<!-- It is just a stub for future implementation, 
     this file do not affects application behavior for the moment-->
<module alias="chat">

    <model id="CHAT_MODEL" alias="chat">
        <model-class>ChatModel</model-class>
        <model-base>ChatLines</model-base>
        <model-atom>ChatLine</model-atom>
    </model>

    <document name="main">
        <document-model>CHAT_MODEL</document-model>
        <document-class>ChatDocument</document-class>
        <!-- <document-tag>ChatTag</document-tag> -->
    </document>
    
    <client>    
        <client-commands>
            <client-command id="CMD_SAY" alias="say">
                <attributes>
                    <attribute name="text" />
                </attributes>
            </client-command>
        </client-commands>
        <client-class>ChatWavesClient</client-class>
    </client>
    
    <wavelet>
        <wavelet-documents>
            <document-name>main</document-name>
        </wavelet-documents>
        <wavelet-class>WaveletWithChat</wavelet-class>
    </wavelet>
    
</module>